.ui-accordion {
    margin: auto;
    padding-top: 18px;
    cursor: pointer;
    width: 90%;
    border: none;
    outline: none;
    transition: 0.4s;
}

.ui-accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 18px;
}
  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.ui-accordion-header-active, .ui-accordion-header:hover {
background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.ui-accordion-content {
padding: 0 18px;
background-color: white;
display: none;
overflow: hidden;
}

.panel-heading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.container {
    padding-top: 18px;
}