@media only screen and (max-width: 600px) {
    body {
      background-color: #eaeaea;
      overflow-y: hidden;
    }
    #details .btn {
        right: 5vw !important;
    }
    .textbox, .decobox, .myFooter, .sticky {
        display: none;
    }
    .textbox2 {
        padding-left: 5vw !important;
        padding-top: 20vh !important;
    }
    .text2 {
        color: white !important;
    }
    .photo {
        top: 45px !important;
        object-fit: cover !important;
        overflow-x: hidden;
        overflow-y: scroll;
        max-width: 100vw;
        height: auto;
        max-height: none;
    }
    .brick {
        top: 45px !important;
        left: 0 !important;
        object-fit: cover !important;
        overflow-x: hidden;
        width: 100vw;
        height: auto;
    }
    .linkbtn {
        right: 20px !important;
        top: 10px !important;
    }
    .link-space, .link-space:visited, .link-space:link, .link-space:active {
        font-size: 15px !important;
        margin-right: 10px !important;
        color: #373741 !important;
    }
    .text {
        padding-left: 5vw !important;
        font-weight: bold;
    }
    #details .text {
        font-weight: normal !important;
    }
    .buttons {
        padding-left: 5vw !important;
        padding-top: 0px;
        padding-bottom: 20px;
    }
    .button {
        border: 2px solid white !important;
    }
    .button:hover {
        background-color: white !important;
    }
    .button path {
        fill: white;
    }
    .button:hover path{
        fill: #373741 !important;
    }
    .name {
        padding-top: 70px !important;
    }
    .EOE {
        line-height: 30px;
        text-decoration: underline;
    }
  }
.container {
    width: 100%;
}

body {
    margin: 0;
    background-color: #eaeaea;
    background-attachment: scroll;
    overflow-y: scroll;
}
.sticky {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8vh;
    background-color: #9aedb6;
    z-index: -2;
  }
.photo {
    position: absolute;
    max-width: 100vw;
    z-index: -3;
    top: 0px;
    right : 0px;
}
.brick {
    position: absolute;
    top: 0px;
    left: -70px;
    z-index: -2;
}
.textbox {
    position: absolute;
    top: 60px;
    left: 60px;
    z-index: -1;
}
.decobox {
    position: absolute;
    top: 25px;
    left: 0px;
    z-index: -2;
}
.decobox2 {
    position: absolute;
    top: 100px;
    right: 90px;
    z-index: -3;
}
.text {
    padding-left: 70px;
    color: white;
    font-family: "Century Gothic", Courier, sans-serif, monospace;
    text-align: left;
}
.textbox2 {
    padding-left: 430px;
    padding-top: 150px;
    padding-right: 0;
    padding-bottom: 0;
}
.text2 {
    color: #373741;
    font-family: "Century Gothic", Courier, sans-serif, monospace;
    text-align: left;
}
.td {
    height: 20px;
}
.name {
    margin: 0;
    font-size: 100px;
    text-align: left;
    padding-top: 75px;
    font-weight: bold;
}
.name2 {
    margin-bottom: 0;
    font-size: 27px;
    text-align: left;
    line-height: 17px;
    font-weight: lighter;
    letter-spacing: 2px;
}
.subt {
    margin: 0;
    font-size: 32px;
    text-align: left;
    line-height: 20px;
}
.desc {
    color: #9aedb6;
    font-size: 40px;
    text-align: left;
}

.interest {
    font-size: 20px;
    text-align: left;
    padding-bottom: 10px;
}
.linkbtn {
    position: absolute;
    z-index: 2;
    top: 25px;
    right: 40px;
}
#home .link-space, .link-space:visited, .link-space:link, .link-space:active {
    font-size: 15px;
    margin-right: 25px;
    transition-duration: 0.4s;
    border: 0px;
    color: white;
    font-family: "Century Gothic", Courier, sans-serif, monospace;
    font-weight: bold;
    background-color: transparent;
    text-decoration: none;
}
#education .link-space, .link-space:visited, .link-space:link, .link-space:active {
    font-size: 15px;
    margin-right: 25px;
    transition-duration: 0.4s;
    border: 0px;
    color: #373741;
    font-family: "Century Gothic", Courier, sans-serif, monospace;
    font-weight: bold;
    background-color: transparent;
    text-decoration: none;
}
.link-space:hover {
    color: #9aedb6;
}

.buttons {
    padding-left: 80px;
}
.buttons-space {
    margin-right: 10px;
}
.button {
    transition-duration: 0.4s;
    border: 2px solid #9aedb6;
}
.button:hover {
    background-color: #9aedb6;
}
.button:hover path{
    fill: #373741;
}
.mb-3{
    padding-top: 10px;
}
.namaMatkul, .namaMatkul:visited, .namaMatkul:link, .namaMatkul:active{
    font-size: 20px;
    margin-bottom: 0;
    text-decoration: none;
}
#matkul .container {
    max-width: 1100px;
}
  
#matkul .border-top { border-top: 1px solid #e5e5e5; }
#matkul .border-bottom { border-bottom: 1px solid #e5e5e5; }
#matkul .border-top-gray { border-top-color: #adb5bd; }

#matkul .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

#matkul .lh-condensed { line-height: 1.25; }

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: var(--purple); }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

#details .container {
    padding-top: 15vh;
    max-width: 760px;
}
#details .text {
    text-align: center;
    padding-left: 0 !important;
    font-size: 20px;
    color: #373741;
}
#matkul .btn {
    margin-top: 10px;
}

.hapus, .hapus:hover, .hapus:active, .hapus:visited {
    background-color: #d12200 !important;
}