{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap, CSS, JS, JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/accor.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  
  <script>

  $("#mybutton").click(
    function(e) {
        var parent = $(this).closest(".panel-default")
        if ($(this).hasClass("up-btn")) {
            parent.insertBefore(parent.prev("div"))
        }
        else if ($(this).hasClass("down-btn")) {
            parent.insertAfter(parent.next("div"))
        }
    })

  function swapDivUp(event, elem) {
    elem.parentNode.insertBefore(elem, elem.previousSibling);
  }

    function swapDivDown(event, elem) {
    elem.parentNode.insertBefore(elem, elem.nextSibling.nextSibling);
  }

  </script>

  {% block meta %}
  {% endblock meta %}

</head>

<body>

{% block content %}

  <div class="container">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Aktivitas saat ini</a>
        </h4>
        <div>
          <button onclick="swapDivUp(event, this.parentNode.parentNode.parentNode);" class="up-btn btn btn-primary btn-move-up">Move up</button>
          <button onclick="swapDivDown(event, this.parentNode.parentNode.parentNode);" class="down-btn btn btn-primary btn-move-down">Move down</button>
        </div>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">Semster 3, Fasilkom Universitas Indonesia</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Pengalaman</a>
        </h4>
        <div>
          <button onclick="swapDivUp(event, this.parentNode.parentNode.parentNode);" class="up-btn btn btn-primary btn-move-up">Move up</button>
          <button onclick="swapDivDown(event, this.parentNode.parentNode.parentNode);" class="down-btn btn btn-primary btn-move-down">Move down</button>
        </div>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">Mentor Agama PMB 2020</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Prestasi</a>
        </h4>
        <div>
          <button onclick="swapDivUp(event, this.parentNode.parentNode.parentNode);" class="up-btn btn btn-primary btn-move-up">Move up</button>
          <button onclick="swapDivDown(event, this.parentNode.parentNode.parentNode);" class="down-btn btn btn-primary btn-move-down">Move down</button>
        </div>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li>Satu</li>
            <li>Dua</li>
            <li>Tiga</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Gitlab Story PPW</a>
        </h4>
        <div>
          <button onclick="swapDivUp(event, this.parentNode.parentNode.parentNode);" class="up-btn btn btn-primary btn-move-up">Move up</button>
          <button onclick="swapDivDown(event, this.parentNode.parentNode.parentNode);" class="down-btn btn btn-primary btn-move-down">Move down</button>
        </div>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">https://gitlab.com/zaafhend/stroryppwzaaf/</div>
      </div>
    </div>
  </div> 
</div>

{% endblock content %}

</body>

</html>