{% extends 'base.html' %}

{% block meta %}
<title>Kegiatan</title>
{% endblock meta %}

{% block content %}
<body class="bg-light" id="matkul">

    <div class="container">
      <div class="row" style="padding-top: 70px">
        <div class="col-md-4 order-md-1" style="padding-top: 10px; padding-bottom: 20px; padding-right: 30px; border-right: 1px solid #ccc">
            <h3>Tambah Kegiatan</h3>   
            <form method='POST' action="">
            {%csrf_token%}
            <div class="mb-3">
              {{form_kegiatan}}
                <button name="kegiatan" class="btn btn-primary btn-lg btn-block" type="submit">Tambahkan</button>
            </div>
            </form>

            <hr class="mb-4">

            <form method='POST' action="savePeserta/">
            {%csrf_token%}
            <h3>Daftarkan Peserta</h3>
            {{form_peserta}}
            <input value="Daftarkan" name="peserta" class="btn btn-primary btn-lg btn-block" type="submit">
          </form>
        </div>
        
        <div class="col-md-8 order-md-2 mb-4" style="padding-left: 30px">
          <h1>Daftar Kegiatan</h1>
          {% for kegiatanku in kegiatan %}
            <div class="col-md-4">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                        <th scope="col" style="text-align: center;">{{kegiatanku.nama}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for orang in peserta%}
                            {%if orang.kegiatan == kegiatanku%}
                            <tr>
                            <td  style="text-align: center;">{{orang.nama}}</td>
                            </tr>
                            {%endif%}
                        {% endfor %}
                        
                    </tbody>
                </table>

            </div>
          {% endfor %}
        </div>
      </div>

      <footer>
        <p> </p>
      </footer>
    </div>
  </body>
{% endblock content %}