{% extends "searchBase.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="container">
    <div class="regist_form">
        <h1> REGISTER </h1>
        <div class="regist_box">
            <div class="container">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <p>* required field</p>
                    <div class="button">
                        <button class="btn btn-dark" type="submit">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}