{% load static %}

<html>

    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="shortcut icon" href="#" />
        <link rel="stylesheet" href="{% static 'css/search.css' %}">
    </head>

    <body>

        <!-- Grey with black text -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <p class="nav-text">Welcome, {{user.username}} </p>
                    <a class ="nav-link nav-logout" href="{% url 'story8:logout' %}"> Log Out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'story8:login' %}">Log In</a>
                </li>
            {% endif %}
            </ul>
        </div>
        </nav>

        <div class="container">

            <input class="form-control" id="search" placeholder="Cari Judul Buku">

            <table class="table table-striped">
                <tbody id="result">
                
                </tbody>
            </table>

        </div>

        <script type="text/javascript">

            $(document).ready(function() {
                search("management");

                $("#search").keyup(function() {
                    if ($(this).val() == '') { // check if value changed
                        search("management");
                    } else {
                        search($("#search").val())
                    }
                });
            });

            function search(judul) {
                var url_hasil = '/search/result?q=' + judul;

                $.ajax({
                    url: url_hasil,
                    success: function(result) {

                        var res_obj = $("#result");
                        res_obj.empty();

                        for (i = 0; i < result.items.length; i++) {
                            var book_title = result.items[i].volumeInfo.title;
                            var book_tnails = result.items[i].volumeInfo.imageLinks.smallThumbnail;
                            var book_author_array = result.items[i].volumeInfo.authors;

                            var book_author = (book_author_array == null) ? "" : book_author_array.join(", ");
                            
                            console.log(book_title)
                            console.log(book_tnails)
                            console.log(book_author)

                            res_obj.append('<tr><td align="center"> <img src=' + book_tnails + '> </td>'
                                         + '<td> <div class="title">' + book_title + '</div>'
                                         + '<div class="author text-muted">' + book_author + '</div> </td> </tr>');
                        }
                    }
                });
            }

        </script>

    </body>

</html>