{% block content %}
    <div class="linkbtn">
        <a class="link-space" href="/">ABOUT ME</a>
        <a class="link-space" href="/education">EDUCATION</a>
        <a class="link-space" href="/matkul">MATA KULIAH</a>
    </div>
{% endblock content %}