{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Education</title>
{% endblock meta %}

{% block content %}
    <body id="education">
        <div class="container2">
            <div class="brick">
                <img src="{% static 'img/brick2.jpg' %}" style="100vh">
            </div>
            <div class="decobox2">
                <svg width="70vmax" height="515px">
                <rect x="0" y="0" width="70vmax" height="515px" style="fill:white" />
                </svg>
            </div>
            <div class="textbox2">
                <div class="text2">
                    <div class="EOE" style="font-size: 30px">
                        <p>Education</p>
                    </div>
                    <div class="decobox" style="position: absolute; z-index: -1; padding-top: 160px; padding-left: 420px">
                        <svg width="600px" height="5px">
                            <rect x="0" y="0" width="600px" height="8px" style="fill:#9aedb6" />
                        </svg>
                    </div>
                    <div style= "padding-bottom: 15px">
                        <table>
                            <tr>
                                <td style="font-weight: bold; width: 150px">3rd Semester</td>
                                <td>Fakultas Ilmu Komputer Universitas Indonesia </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; width: 150px">2019</td>
                                <td>SMA Negeri 1 Kota Bogor</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; width: 150px">2016</td>
                                <td>SMPIT Ummul Quro Bogor</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; width: 150px">2013</td>
                                <td>SDIT Aliya Bogor</td>
                            </tr>
                        </table>
                    </div>
                    <div class="EOE" style="font-size: 30px">
                        <p>Organizational Experiences</p>
                    </div>
                    <div class="decobox" style="position: absolute; z-index: -1; padding-top: 305px; padding-left: 420px">
                        <svg width="600px" height="5px">
                            <rect x="0" y="0" width="600px" height="8px" style="fill:#9aedb6" />
                        </svg>
                    </div>
                    <div>
                        <table>
                            <tr>
                                <td style="font-weight: bold; width: 150px">2018</td>
                                <td>english Association for Smansa Youth</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; width: 150px">2018</td>
                                <td>DKM Ar-Rahmah</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock content %}