{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>About Me</title>
{% endblock meta %}

{% block content %}
    <body id="home">
        <div class="container">
            <div class="photo">
                <img src="{% static 'img/profile2.jpg' %}" style='max-height: 92vh';>
            </div>
            <div class="textbox">
                <svg width="70vmax" height="87vh">
                <rect x="0" y="0" width="65vmax" height="100%" style="fill:#373741" />
                </svg>
            </div>
            <div class="decobox">
                <svg width="56vmax" height="80px">
                <rect x="0" y="0" width="65vmax" height="1000px" style="fill:#9aedb6" />
                </svg>
            </div>

            <div class="text">
                <div class="name">
                    Zaaf
                </div>
                <div class="name2">
                    <p>Zaafira</p>
                    <p>Rihhadatul'aisy</p>
                    <p>Hendrarto</p>
                </div>
                <div class="subt">
                    <p>1906353946</p>
                    <p>Fasilkom 2019</p>
                </div>
                <div class="desc">
                    <p>Simple. Honest. Diligent.</p>
                </div>
                <div class="interest">
                    <p>Current interest: Web Development</p>
                </div>
            </div>

            <div class="buttons">
                <a class="buttons-space" href="javascript:void(0)" onclick="location.href='https://youtu.be/dQw4w9WgXcQ'">
                    <svg xmlns="http://www.w3.org/2000/svg" class="button" width="70" height="70" viewBox="-144 -144 800 800" role="img" aria-labelledby="instagram-icon">
                        <title>Instagram</title>
                        <path fill="#9aedb6" d="M256 152c-57.9 0-105 47.1-105 105s47.1 105 105 105 105-47.1 105-105-47.1-105-105-105zm0 0c-57.9 0-105 47.1-105 105s47.1 105 105 105 105-47.1 105-105-47.1-105-105-105zM437 0H75C33.6 0 0 33.6 0 75v362c0 41.4 33.6 75 75 75h362c41.4 0 75-33.6 75-75V75c0-41.4-33.6-75-75-75zM256 392c-74.399 0-135-60.601-135-135 0-74.401 60.601-135 135-135s135 60.599 135 135c0 74.399-60.601 135-135 135zm165-270c-16.5 0-30-13.5-30-30s13.5-30 30-30 30 13.5 30 30-13.5 30-30 30zm-165 30c-57.9 0-105 47.1-105 105s47.1 105 105 105 105-47.1 105-105-47.1-105-105-105zm0 0c-57.9 0-105 47.1-105 105s47.1 105 105 105 105-47.1 105-105-47.1-105-105-105zm0 0c-57.9 0-105 47.1-105 105s47.1 105 105 105 105-47.1 105-105-47.1-105-105-105z"></path>
                    </svg>
                </a>
                    <a class="buttons-space" href="javascript:void(0)" onclick="location.href='https://www.linkedin.com/in/zaaf-hend-b5201a1b8/'">
                    <svg xmlns="http://www.w3.org/2000/svg" class="button" width="70" height="70" viewBox="-90 -90 512 512" role="img" aria-labelledby="instagram-icon">
                        <title>LinkedIn</title>
                        <path fill="#9aedb6" d="M72.16 99.73H9.927a5 5 0 0 0-5 5v199.928a5 5 0 0 0 5 5H72.16a5 5 0 0 0 5-5V104.73a5 5 0 0 0-5-5zM41.066.341C18.422.341 0 18.743 0 41.362 0 63.991 18.422 82.4 41.066 82.4c22.626 0 41.033-18.41 41.033-41.038C82.1 18.743 63.692.341 41.066.341zm189.388 94.42c-24.995 0-43.472 10.745-54.679 22.954V104.73a5 5 0 0 0-5-5h-59.599a5 5 0 0 0-5 5v199.928a5 5 0 0 0 5 5h62.097a5 5 0 0 0 5-5V205.74c0-33.333 9.054-46.319 32.29-46.319 25.306 0 27.317 20.818 27.317 48.034v97.204a5 5 0 0 0 5 5H305a5 5 0 0 0 5-5V194.995c0-49.565-9.451-100.234-79.546-100.234z"></path>
                    </svg>
                </a>
            </div>

            <div class="sticky">
            </div>
            
        </div>
    </body>
{% endblock content %}