{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Mata Kuliah</title>
<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
{% endblock meta %}

{% block content %}
    <body id="details">
        <div class="container">
            <div class="text">
                <p class="text-muted" style="font-size: 20px"> Nama Mata Kuliah </p>
                <p> {{ matkul.nama }} </p>
                <p class="text-muted" style="font-size: 20px"> Dosen </p>
                <p> {{ matkul.dosen }} </p>
                <p class="text-muted" style="font-size: 20px"> Deskripsi </p>
                <p> {{ matkul.deskripsi }} </p>
                <p class="text-muted" style="font-size: 20px"> Tahun Ajaran </p>
                <p> {{ matkul.tahunajar }} </p>
                <p class="text-muted" style="font-size: 20px"> Jumlah SKS </p>
                <p> {{ matkul.sks }} </p>
                <p class="text-muted" style="font-size: 20px"> Ruangan </p>
                <p> {{ matkul.kelas }} </p>
            </div>
            
        </div>
    </body>
{% endblock content %}