{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Mata Kuliah</title>
<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
{% endblock meta %}

{% block content %}
<body class="bg-light" id="matkul">

    <div class="container">
      <div class="row" style="padding-top: 70px">
        <div class="col-md-8 order-md-2 mb-4">
          <h1>Mata Kuliah</h1>
          <ul class="list-group mb-3">
              {% for matkul in matkulnya %}
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div class="row">
                    <div class="col-md-10 mb-0">
                      <div>
                          <a href="/matkul/{{ matkul.id }}" class="namaMatkul">{{ matkul.nama }}</a>
                          </br>
                          <small class="text-muted">{{ matkul.dosen }}</small>
                      </div>
                      <small class="text-muted">{{ matkul.tahunajar }}</small>
                    </div>

                    <div class="col-md-2 mb-0">
                      <button type="button" class="btn btn-primary hapus" data-toggle="modal" data-target="#{{matkul.id}}">
                      Hapus
                      </button>
                      <!-- Modal -->
                      <div class="modal fade" id="{{matkul.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Apakah Anda yakin ingin menghapus mata kuliah {{matkul.nama}}?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                                <a href="/matkul/{{matkul.id}}/delete" type="button" class="btn btn-primary hapus">Hapus</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              {% endfor %}
          </ul>
        </div>

        <div class="col-md-4 order-md-1" style="padding-top: 10px">
            <h3>Tambah Mata Kuliah</h3>
            <form method='POST' action="matkul">
            {%csrf_token%}

            <div class="mb-3">
              <label>Nama Mata Kuliah</label>
              <input type="text" class="form-control" name='nama' placeholder="" required>
            </div>

            <div class="mb-3">
              <label>Dosen Pengajar</label>
              <input type="text" class="form-control" name='dosen' placeholder="" required>
            </div>

            <div class="mb-3">
              <label>Deskripsi</label>
              <input type="text" class="form-control" name='deskripsi' placeholder="" required>
            </div>

            <div class="mb-3">
              <label>Semester/Tahun</label>
              <input type="text" class="form-control" name='tahunajar' placeholder="Ganjil 2020/2021" required>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label>Jumlah SKS</label>
                <input type="number" min="1" max="5" class="form-control" name='sks' placeholder="" required>
              </div>
              <div class="col-md-6 mb-3">
                <label>Ruang Kelas</label>
                <input type="text" class="form-control" name='kelas' placeholder="" required>
              </div>
            </div>

            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Tambahkan</button>
          </form>
        </div>
      </div>

      <footer>
        <p> </p>
      </footer>
    </div>
  </body>
{% endblock content %}