.container {
    padding-top: 100px;
    width: 70% !important;
    margin: auto;
    margin-bottom: 60px;
}

.regist_box .container {
    width: 90% !important;
}

table {
    margin-top: 40px;
}

.title {
    font-weight: bold;
    font-size: 18px;
}

.nav-text {
    color: #FFFFFF;
    margin-bottom: 0;
    font-weight: bold;

}

.navbar-nav {
    margin-right: 20px;
    text-align: right;
}

.nav-logout {
    padding: 0;
    padding-right: 0 !important;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem;    
}

.regist_form h1{
  text-align: center;
  font-weight: bold;
  margin-bottom: 3%;
}

.regist_form{
  padding-top: 8%;
  padding-bottom: 8%;
}

.regist_box{
  background-color: #F5F5F5;
  border-radius: 10px;
  width : 80%;
  margin: auto;
}

.regist_box p{
  color : Red;
}

.regist_box .container{
  padding: 5%;
}

.login_form h1{
  text-align: center;
  font-weight: bold;
  margin-bottom: 3%;
}

.login_form{
  padding-top: 8%;
  padding-bottom: 8%;
}

.login_box{
  background-color: #F5F5F5;
  width : 50%;
  margin-left: 25%;
}

.login_box .container{
  padding: 5%;
}

.login_box p{
  color : #9BA4B4;
}

.register-ask {
    margin-top: 10px;
}